@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bigbtn {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  cursor: pointer;
  width: 300px;
  text-align: center;
  color: #2563eb;
  font-weight: 700;
  padding: 50px;
}
.bigbtn:hover {
  background-color: #dbeafe;
}
.btnhead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
  color: rgb(33, 33, 33);
}
